{% extends "admin/shell.twig" %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Home</a> <span class="divider">/</span></li>
        <li>All admin pages</li>
    </ul>

    <ul>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
    </ul>


{% endblock %}