{% extends "admin/shell.twig" %}

{% block content %}

    <ul class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ path('admin.index') }}">Dashboard</a></li>
        <li>Home</li>
    </ul>

    <p>Feel free to add whatever here</p>


{% endblock %}