{% extends "admin/shell.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Users</h1>
    </div>

    <ul class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ path('admin.index') }}">Dashboard</a></li>
        <li><a href="{{ path('admin.user.list') }}">Users</a></li>
        <li>{% if id > 0 %}Edit{% else %}Add{% endif %} user</li>
    </ul>

    <form action="#" method="post" novalidate>
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>
{% endblock %}